.SearchIcon {
  padding: theme-spacing(0, 2);
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  position: relative;
  border-radius: theme, shape, borderRadius;
  background-color: alpha(theme, palette, common, white, 0.15);

  margin-left: 0;
  width: 100%;

  margin-left: theme, spacing(1);
  width: auto;
}

.searchInput:hover {
  background-color: alpha(theme, palette, common, white, 0.25);
}
